.pages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;

  &Btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s all;
    border-radius: 50%;
    outline: 0px solid transparent;

    &:hover {
      outline: 3px solid #fff;
    }
  }
}
