.container {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  border-top: 5px dashed yellow;
  border-bottom: 5px dashed yellow;
}

.raceTrack {
  display: flex;
  align-items: center;
  height: 6rem;
  gap: 2rem;
}

.winner,
.name,
.time {
  font-size: 2rem;
  font-family: inherit;
}

.name {
  font-size: 2rem;
}

.time {
  font-size: 2rem;
}
