.car {
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;

  .actions {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .action {
    display: flex;
    gap: 0.2rem;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
    text-transform: uppercase;
    height: 2rem;
    width: 6rem;

    &:hover {
      background-color: #fff;
      color: #333;
    }

    &.icon {
      width: 2rem;
      padding: 0;
    }
  }
}

.name {
  color: rgba(255, 255, 255, 0.8);
}
