.container {
  margin-inline: auto;
  max-width: var(--container-width);
  display: flex;
  align-items: center;
  padding: 3rem 0;
  justify-content: space-around;
}

.links {
  display: flex;
  gap: 2rem;
  min-width: max-content;
}

.link {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 1rem;
  border-radius: 20px;
}

.link:hover {
  color: #f0f0f0;
}
